.contact {
  padding: 100px 30px; /* Add padding to ensure it doesn't overflow */
  max-width: 800px;
  margin: 0 auto;
  
}

.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}

.heading {
  font-size: 2rem;
  align-self: flex-start;
  font-weight: bold;
  margin-bottom: 1rem;
  color: var(--lightest-slate);
}



.contact-text {
  flex: 1;
  margin-bottom: 20px;
}

.contact-text p{
  color: var(--slate);
  font-size: 20px;
  line-height: 1.6;
  margin-bottom: 50px;
}

.email-text {

  color: var(--green);
  font-size: 26px;
  line-height: 1.6;
  
}

.contact-form {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.contact-form label {
  color: var(--lightest-slate);
  font-size: 16px;
  margin-bottom: 5px;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid var(--lightest-slate);
  border-radius: 4px;
  background-color: var(--light-navy);
  color: var(--lightest-slate);
  font-size: 16px;
}

.contact-form textarea {
  resize: vertical;
  height: 150px;
}

.styled-button {
  color: var(--green);
  background-color: transparent;
  border: 1px solid var(--green);
  border-radius: 4px;
  padding: 1rem 1.5rem;
  font-family: var(--font-mono);
  font-size: 16px;
  line-height: 1;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.25s ease;
  align-self: center; /* Align button to the center */
}

.styled-button:hover {
  background-color: rgba(100, 255, 218, 0.1);
}

@media (max-width: 768px) {
  .contact {
    padding: 100px 20px;
  }

  .contact-content {
    flex-direction: column;
    align-items: center;
  }

  .contact-text {
    font-size: 16px;
  }

  .styled-button {
    width: 100%;
    text-align: center;
    padding: 0.75rem 1rem;
  }

  .contact-form input,
  .contact-form textarea {

    width: calc(100% - 30px);
  }

  .social-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 0; 
  }
}

.social-links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  margin-left: 50px; /* Add margin to separate from the form */
}

.social-item {
  display: flex;
  align-items: center;
  gap: 10px;
}

.social-item a {
  color: var(--lightest-slate);
  text-decoration: none;
  transition: color 0.2s ease;
  font-size: larger;
}

.social-item a:hover {
  color: var(--green);
}